.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  position: relative;
}

.login-header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  color: #fff;
}

.logo {
  width: 50px;
  height: auto;
}

.login-card {
  background: rgba(20, 27, 29, 0.6);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
}

.login-title {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-button,
.input-button {
  padding: 14px;
  background: linear-gradient(to right, #5f747a, #203a43);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.login-button:hover,
.input-button:hover {
  background: linear-gradient(to right, #003040, #203a43);
  transform: translateY(-2px);
}

.wallet-address-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.wallet-address-input input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.input-button {
  margin-top: 10px;
}

.login-note {
  color: rgb(245, 245, 245);
  font-size: 0.8rem;
  text-align: center;
}
.note {
  padding-top: 20px;
  max-width: 500px;
  color: #fff;
  opacity: 50%;
}

@media (max-width: 768px) {
  .login-title {
    font-size: 2rem;
  }
  .login-card {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .login-title {
    font-size: 1.8rem;
  }
  .login-button,
  .input-button {
    padding: 12px;
    font-size: 1rem;
  }
}
