.watchlist-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.add-token {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.add-token input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.add-token button {
  padding: 10px 20px;
  background: linear-gradient(to right, #8589ff, #1e005f);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.add-token button:hover {
  background: linear-gradient(to right, #5258ff, #0b0023);
  transform: translateY(-2px);
}

.token-list table {
  width: 100%;
  border-collapse: collapse;
}

.token-list th,
.token-list td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.token-list th {
  background: rgba(0, 0, 0, 0.8);
}

.token-list tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.6);
}

.token-list tr:hover {
  background: rgba(0, 0, 0, 0.5);
}

.popular-tokens {
  margin-top: 20px;
}

.token-logos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.token-logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s;
}

.token-logo:hover {
  transform: scale(1.1);
}
