.chart-container {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.date-picker-container {
  width: 50%;
  display: inline-block;
  text-align: left;
}

.token-logo-container {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.token-selection {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.token-logo {
  width: 50px;
  height: 50px;
  margin: 20px 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.token-logo:hover {
  transform: scale(1.3);
}

.selected {
  border: 5px solid #4bc0c0;
  border-radius: 50%;
}

.custom-token-input {
  padding: 10px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  display: block;
  margin-left: 0px;
}

.loading {
  text-align: center;
  margin: 20px 0;
}

.graph-section {
  margin-top: 20px;
}

.date-button {
  color: black;
  background-color: #ccc;
}
.date-picker-container {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .chart-container {
    width: 90%;
    margin: auto;
  }

  .chart-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-picker-container,
  .token-logo-container {
    width: 100%;
    text-align: left;
  }

  .token-logo-container {
    text-align: left;
    margin-top: 10px;
  }

  .token-selection {
    justify-content: flex-start;
  }

  .token-logo {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
  }

  .custom-token-input {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .chart-container {
    width: 95%;
    margin: auto;
  }

  .chart-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-picker-container,
  .token-logo-container {
    width: 100%;
    text-align: left;
  }

  .token-selection {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .token-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  .custom-token-input {
    width: 100%;
    max-width: 280px;
  }

  .loading {
    font-size: 14px;
  }
}
